@page "{id:int?}"
@model ECommerceLabWebApp.Pages.Shop.ProductDetailsModel

@using Microsoft.AspNetCore.Identity
@using ECommerceLabWebApp.Models

@{
    ViewData["Title"] = "ProductDetails";
}
@{
    Layout = "_Layout";
}

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <title>Snackmeister - Product Details</title>
</head>
<body>
    <section>
        @if (Model == null)
        {
            <h2>Product not found.</h2>
        }
        else
        {
            <h2 class="text-center">Product Details</h2>
            <h2>Product: @Model.product.Name</h2>
            <ul>
                <li>ID: @Model.product.ID</li>
                <li>Name: @Model.product.Name</li>
                <li>Price: @Model.product.Price</li>
                <li>Description: @Model.product.Description</li>
                <li>
                        <img src="@Model.product.ImageUrl">
                    </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <form method="post">
                    <label asp-for="AddData.Qty">Quantity</label>
                    <input asp-for="AddData.Qty" type="number" />

                    <input asp-for="AddData.ProductID" type="hidden" value="@Model.product.ID" />

                    <button class="btn" type="submit">Add to Cart</button>
                </form>
            }
        }
    </section>
</body>
</html>